<a href="https://colab.research.google.com/github/faspy/monty_python/blob/master/covid_cases_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import pandas as pd
covid_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [122]:
covid_cases.head()
covid_cases['Country/Region'].replace('"','')
covid_cases.loc[covid_cases['Country/Region']=='Korea, South','Country/Region']  = 'South Korea'

In [123]:
covid_cases.pop('Lat')
covid_cases.pop('Long')
covid_cases.pop('Province/State')
covid_cases.head(10)

        Country/Region  1/22/20  1/23/20  ...  9/13/20  9/14/20  9/15/20
0          Afghanistan        0        0  ...    38716    38772    38815
1              Albania        0        0  ...    11353    11520    11672
2              Algeria        0        0  ...    48254    48496    48734
3              Andorra        0        0  ...     1344     1438     1438
4               Angola        0        0  ...     3388     3439     3569
5  Antigua and Barbuda        0        0  ...       95       95       95
6            Argentina        0        0  ...   555537   565446   577338
7              Armenia        0        0  ...    45862    45969    46119
8            Australia        0        0  ...      113      113      113
9            Australia        0        0  ...     4170     4177     4185

[10 rows x 239 columns]

In [124]:
df1 = pd.melt(covid_cases,id_vars='Country/Region',value_name='cases')
df1.info()
df1.rename(columns={"variable":"date"},inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63308 entries, 0 to 63307
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  63308 non-null  object
 1   variable        63308 non-null  object
 2   cases           63308 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [125]:
df1['date'] = pd.to_datetime(df1['date'])

df1 = df1.groupby(by=['Country/Region','date']).sum()

In [126]:
df1.head(10)

                           cases
Country/Region date
Afghanistan    2020-01-22      0
               2020-01-23      0
               2020-01-24      0
               2020-01-25      0
               2020-01-26      0
               2020-01-27      0
               2020-01-28      0
               2020-01-29      0
               2020-01-30      0
               2020-01-31      0

In [127]:
df1.to_csv('covid_cases.csv')